body {
   
    background-color: lightslategrey;
   
}
.end {
    height: 5vh;
    width: 18vh;
    background-color: rgb(55, 55, 55);
    color: white;
    position: relative;
    left: 45%;
    top: 1%;
    text-align: center;
    

    

}
.p130 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 6%;
}
.p129 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 41%;
    top: 6%;
}
.p128 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 37%;
    top: 6%;
}
.p127 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 33%;
    top: 6%;
}
.p126 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 29%;
    top: 6%;
}
.p125 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 25%;
    top: 6%;
}
.p124 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 21%;
    top: 6%;
}
.p123 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 17%;
    top: 6%;
}
.p122 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 13%;
    top: 6%;
}
.p121 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 9%;
    top: 6%;
}
.p120 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 9%;
    top: 11.4%;
}
.p119 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 9%;
    top: 16.5%;
}
.p118 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 13%;
    top: 16.5%; 
}
.p117 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 17%;
    top: 16.5%;
} 
.p116 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 21%;
    top: 16.5%; 
}
.p115 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 25%;
    top: 16.5%; 
} 
.p114 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 29%;
    top: 16.5%;
}
.p113 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 33%;
    top: 16.5%;
} 
.p112 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 37%;
    top: 16.5%;
}
.p111 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 41%;
    top: 16.5%; 
}
.p110 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 16.5%;
}
.p19 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 21.8%; 
}
.p18 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 27%;
}
.p17 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 32.2%; 
}
.p16 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 37.4%;
}
.p15 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 42.6%; 
}
.p14 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 47.8%;
}
.p13 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 53%; 
}
.p12 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 58.2%;
}
.p11 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 45%;
    top: 63.4%; 
}



.p230 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.23%;
    top: 6%;
}
.p229 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 55.22%;
    top: 6%;
}
.p228 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 59.22%;
    top: 6%;
}
.p227 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 63.22%;
    top: 6%;
}
.p226 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 67.22%;
    top: 6%;
}
.p225 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 71.22%;
    top: 6%;
}
.p224 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 75.22%;
    top: 6%;
}
.p223 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 79.22%;
    top: 6%;
}
.p222 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 83.22%;
    top: 6%;
}
.p221 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 87.22%;
    top: 6%;
}
.p220 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 87.22%;
    top: 11.4%;
}
.p219 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 87.22%;
    top: 16.5%; 
}
.p218 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 83.22%;
    top: 16.5%; 
}
.p217 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 79.22%;
    top: 16.5%;
} 
.p216 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 75.22%;
    top: 16.5%; 
}
.p215 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 71.22%;
    top: 16.5%; 
} 
.p214 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 67.22%;
    top: 16.5%;
}
.p213 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 63.22%;
    top: 16.5%;
} 
.p212 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 59.22%;
    top: 16.5%;
}
.p211 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 55.22%;
    top: 16.5%; 
}
.p210 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 16.5%;
}
.p29 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 21.8%; 
}
.p28 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 27%;
}
.p27 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 32.2%; 
}
.p26 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 37.4%;
}
.p25 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 42.6%; 
}
.p24 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 47.8%;
}
.p23 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 53%; 
}
.p22 {
    background-color: white;
    color: black;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 58.2%;
}
.p21 {
    background-color: black;
    color: white;
    height: 5.3vh;
    width: 7vh;
    position: absolute;
    left: 51.22%;
    top: 63.4%; 
}
.start {
    height: 5vh;
    width: 18vh;
    background-color: rgb(55, 55, 55);
    color: white;
    position: absolute;
    left: 45%;
    top: 68.7%;
    text-align: center;
}

.name1{
    left: 45%;
    top: 68.7%;
    position: absolute;
    color: gold;
    font-size: 4vh;
}

.name2{
    left: 53.5%;
    top: 68.7%;
    position: absolute;
    color: gold;
    font-size: 4vh;
}


.d1{
    position: absolute;
    left: 16.22%;
    top: 60%;
    color: black;
    height: 7vh;
    width: 7vh;
    font-size: 6vh;
    font-weight: 900;
    border-radius: 10px;
}

.d2{
    position: absolute;
    left: 79.22%;
    top: 60%;
    color: black;
    height: 7vh;
    width: 7vh;
    font-size: 6vh;
    font-weight: 900;
    border-radius: 10px;
}



.float{
    position: absolute;
    top:95%;
    background-color: rgb(55, 55, 55);
    color: white;
    height: 7vh;
    font-size: 4vh;
    font-weight: 900;
}


.player1{
    position: absolute;
    left: 16.22%;
    top: 50%;
  }

.player2{
    position: absolute;
    left: 79.22%;
    top: 50%;
  }

  



